.App {
  text-align: center;
  padding-top: 200px;
  display: flex;
  justify-content: center;
}

.button {
  height: 50px;
  width: 50px;
  border-radius: 10%;
} 

.display {
  border: solid black 1px;
  border-radius: 5%;
  /*padding: 10px 10px;*/
  width: 216px;
  height: 43px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}










/*************************************************/

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
